<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-body-tertiary" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link" href="/listings/new">Add New listing</a>
      </div>
      <div class="navbar-nav  ms-auto">
        <!-- <a href="/signup" class="nav-link">Sign Up</a>
        <a href="/login" class="nav-link">Log In</a> -->
        <% if (!currentUser) { %>
          <a href="/signup" class="nav-link">Sign Up</a>
          <a href="/login" class="nav-link">Log In</a>
        <% } else { %>
          <a href="/logout" class="nav-link">Log Out</a>
        <% } %>
      </div>
    </div>

  </div>
</nav>