<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT found </title>
</head>

<body>
    <h3>THIS PAGE IS NOT FOUND</h3>
    <br>
    <h2>404 ERROR</h2>
    <br>
    <a href="/listings">Go Back to Home Page</a>
</body>

</html>